@import url("https://fonts.googleapis.com/css2?family=Esteban&family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #121212;
  justify-content: space-between;
}

.content {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f8f0e3;
  font-size: 12px;
}

.container {
  height: 420px;
  width: 280px;
  background-color: #c1b2ab;
  border: 3px solid grey;
  border-radius: 5%;
  overflow: hidden;
}

.display {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Press Start 2P", cursive;
  font-size: 6px;
}

.keypad {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: "Esteban", serif;
  font-weight: 700;
  border-top: 3px solid grey;
}

.row1,
.row2,
.row3,
.row4 {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.clearButton {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Esteban", serif;
  font-weight: 700;
}

.displayField {
  height: 60%;
  width: 80%;
  background-color: grey;
  border-radius: 3%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.displayField p {
  margin-right: 10px;
  font-size: 24px;
}

.key {
  display: inline-block;
  color: #f8f8f8;
  border: 2px solid #adf7b6;
  font-size: 16px;
  height: 40px;
  width: 40px;
  background-color: #353238;
  transition: transform 0.1s;
}

.key:hover {
  cursor: pointer;
}

#keyEquals {
  background-color: #bf4e30;
}

#keyClear {
  height: 30px;
  width: 30%;
}

#keyAdd,
#keySub,
#keyMul,
#keyDiv,
#keyFloat {
  background-color: #57886c;
}

.pressed {
  transform: scale(0.9);
}
